body{
  margin: 0;
  font-family: arial;
  flex-direction: column;
}
.header{
  display: flex;
  background-color: #1f2937;
  line-height: 50px;
}
.links{
  display: flex;
  flex: 0 1 auto;
  gap: 20px;
  justify-content: flex-end;
  flex-flow: row;
  padding-left: 480px;
  margin-right: 20px;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #e5e7eb;
}
.header-logo{
  display: flex;
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
  margin-left: 90px;
}
.intro-section{
  background: #1f2937;
  display: flex;
  flex: 1;
  padding: 0;
  justify-content: flex-end;
}
.placehldrVector img{
  height: auto;
  width: 200px;
  flex: auto;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 100px;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.welcomeSection{
  margin-left: 45px;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
}
.welcomeSection.Main{
  font-size: 48px;
  font-weight: bold;
  color: #f5f8fe;
  margin-top: 140px;
}
.welcomeSection.Sub{
  color: #e5e7eb;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  opacity: 60%;
  margin-bottom: 100px;
}
.stepsOnHow{
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}
.stepsSection{
  display: flex;
  align-items: center;
  gap: 60px;
  margin-left: 110px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.stepsGeneral{
    display: flex;
  flex-direction: column;
  align-items: center;
}
.stepsGeneral img{
  height: auto;
  width: 80px;
  flex-direction: row;
}
.stepsGeneral span{
 opacity: 60%;
 word-break: normal;
 font-size: 18px;
 text-align: center;
}
.qouteSection{
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.qouteSection div, 
.qouteSection span{
  margin-top: 50px;
  margin-right: 80px;
  margin-left: 50px;
}
.qouteSection div{
  font-size: 36px;
  font-weight: normal;
  font-style: italic;
  opacity: 60%;
  text-align: left;
  justify-content: center;
}
.qouteSection span{
  text-align: right;
  font-size: 18px;
  align-self: flex-end;
  margin-bottom: 20px;
  font-weight: bold;
}
.closing-section{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 40px;
}
.outSection{
  background: #3882f6;
  border: 10px solid #3882f6;
  border-radius: 10px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
}
.outSection button{
  border: 2px solid white;
  border-radius: 5px;
  background: #3882f6;
}
.main{
  font-size: 32px;
  color: white;
}
.outSection button{
  flex-direction: column-reverse;
  color: white;
}
.sub{
  color: white;
  display: inline;
  font-size: 18px;
}
footer{
  display: flex;
  flex: 1;
  color: white;
  align-items: center;
  background: #1f2937;
  line-height: 50px;
}
footer div{
  display: inline;
  flex: 1;
  flex-direction: row;
  align-self: center;
}

